
.button a { 
	text-decoration:none; 

} 
.button {
        width:250px;
        margin:0px;
        padding:0px;
	padding-top:20px;
        background:url(../output/component-fixed-button/blue.png) no-repeat 0 0;
        text-align:center;
	font-size:120%;
	font-weight:bold;
	color:black;
        height:50px;
}
.button-highlight {
	opacity:.8;
}
.button-blue {
        background:url(../output/component-fixed-button/blue.png) no-repeat 0 0;
}
.button-green {
        background:url(../output/component-fixed-button/green.png) no-repeat 0 0;
}
.button-odd {
        background:url(../output/component-fixed-button/image.png) no-repeat 0 0;
}


